<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup Form | By Code Info</title>
    <link rel="stylesheet" href="../static/css/style8.css">
</head>
<body>
    <input type="checkbox" id="show">
    <label for="show" class="show-btn">Login To Your Existing Account</label>

    <div class="container">
        <label for="show" class="close-btn" title="close">×</label>
        <h1>Welcome Back !</h1>
        <form action="#">
            <label>Email or Phone</label>
            <input type="text">
            <label>Password</label>
            <input type="password">
            <a href="#">Forgot Password?</a>
            <input type="submit" value="Login" class="btn btn-primary">
            
            <div class="link">Not a member? <a href="/Signup" class="text-primary">Sigup here</a></div>
            
        <closeform></closeform></form>
    </div>
</body>
</html>
