<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KiMagenA.</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <head>
        <!-- <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"> -->
        <!-- or -->
        <link rel="stylesheet"
        href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="../static/js/mainscript.js">
      </head>
</head>
<body>
    <header>
        <!-- <a href="#" class="logo">Templates</a> -->
        <h1 class="logo">KiMagenA.</h1>
        <div class="bx bx-menu" id="menu-icon"></div>
        <ul class="navbar">
            <li><a href="">HOME</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#menu">TEMPLATES</a></li>
            <li><a href="#services">SERVICES</a></li>
            <li><a href="#contact">CONTACT</a></li>

        </ul>
    </header>
    <!-- HOME START -->
    <section class="home" id="home">
        <div class="home-text">
            <h1>Welcome to</h1>
            <h2>KiMagenA.<br>Best Awesome Templates</h2>
            <a href="/Login" class="btn">LOGIN</a>

        </div>
        <div class="home-img">
            <img src="../static/images/background logo.png" alt="">
        </div>

    </section>
    <!-- ABOUT START -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="../static/images/sunny.png" alt="">
        </div>
        <div class="about-text">
            <span>About KiMagenA.</span>
            <h2>We Create And Give <br> The Best Templates</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati incidunt voluptates minima, repellendus debitis libero. Recusandae, ipsam, quos aut quasi eos nobis incidunt pariatur magni exercitationem neque rerum in suscipit.</p>
            <a href="#" class="btn">Read More</a>

        </div>
    </section>
    <!-- services START -->
    <section class="menu" id="menu">
        <div class="heading">
            <span>Top Picks</span>
            <h2>Colored Themed Templates</h2>
        </div>
        <div class="menu-container">
            <div class="box">
                <div class="box-img">
                  <a href="/Purple"><img src="../static/images/pppp.png"></a>
                </div>
                <h2>Purple Themed</h2>
                <h3>97% Editable</h3>
                <span>Free</span>
                <box-icon name='mouse-alt'></box-icon>
            </div>
            <div class="box">
                <div class="box-img">
                  <a href="/Black"><img src="../static/images/blaaa.png"></a>
                </div>
                <h2>Black Themed</h2>
                <h3>97% Editable</h3>
                <span>KSH: 150</span>
                <box-icon name='mouse-alt'></box-icon>
            </div>
            <div class="box">
                <div class="box-img">
                  <a href="/Olive Green "><img src="../static/images/greeee.png"></a>
                </div>
                <h2>Olive Green Themed</h2>
                <h3>80% Editable</h3>
                <span>KSH: 80</span>
                <box-icon name='mouse-alt'></box-icon>
            </div>
            <div class="box">
                <div class="box-img">
                  <a href="/Red"><img src="../static/images/reee.png"></a>
                </div>
                <h2>Red Themed</h2>
                <h3>90% Editable</h3>
                <span>Free</span>
                <box-icon name='mouse-alt'></box-icon>
            </div>
            <div class="box">
                <div class="box-img">
                  <a href="/Grey"><img src="../static/images/greeeee.png"></a>
                </div>
                <h2> Grey Themed</h2>
                <h3>71% Editable</h3>
                <span>KSH: 200</span>
                <box-icon name='mouse-alt'></box-icon>
            </div>
            <div class="box">
                <div class="box-img">
                  <a href="/Yellow"><img src="../static/images/yelloooo.png"></a>
                </div>
                <h2>Olive Green Themed</h2>
                <h3>60% Editable</h3>
                <span>KSH: 40</span>
                <box-icon name='mouse-alt'></box-icon>
            </div>

        </div>

    </section>
    <!-- SERVICES START -->
    <section class="services" id="services">
        <div class="heading">
            <span>Our Services</span>
            <h2>We Make Templating Easier</h2>
        </div>
        <div class="service-container">
            <div class="s-box">
                <img src="../static/images/eddiii.png" alt="">
                <h3>Editing</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit incidunt accusantium fugit velit error voluptas praesentium saepe ipsam, doloremque numquam perferendis, qui autem nihil aut, commodi quam sapiente sint sequi.</p>
            </div>
            <div class="s-box">
                <img src="../static/images/crite.webp" alt="">
                <h3>Creation</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit incidunt accusantium fugit velit error voluptas praesentium saepe ipsam, doloremque numquam perferendis, qui autem nihil aut, commodi quam sapiente sint sequi.</p>
            </div>
            <div class="s-box">
                <img src="../static/images/meme.png" alt="">
                <h3>Selling Of Templates</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit incidunt accusantium fugit velit error voluptas praesentium saepe ipsam, doloremque numquam perferendis, qui autem nihil aut, commodi quam sapiente sint sequi.</p>
            </div>
        </div>
    </section>
    <!-- CONTACT START -->
    <section class="cta">
        <h2>You want to be part <br> of the Family?</h2>
        <a href="/Signup" class="btn">Start</a>



    </section>
    <!-- footar -->
    <section id="contact">
        <div class="footer">
            <div class="main">
                <div class="col">
                    <h4>Referral Links</h4>
                    <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">TEMPLATES</a></li>
                    <li><a href="#">SERVICES</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
                </div>
                <div class="col">
                    <h4>Other Helps</h4>
                    <ul>
                    <li><a href="#">Proofreads</a></li>
                    <li><a href="#">Document checks</a></li>
                    <li><a href="#">Document Privacy</a></li>
                    <li><a href="#">Formatting</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
                </div>
                <div class="col">
                    <h4>Information</h4>
                    <ul>
                    <li><a href="#">Terms And Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Premium Info</a></li>
                    <li><a href="#">More of KiMagenA.</a></li>
                </ul>
                </div>
                  <div class="col">
                    <h4>Contact Us</h4>
                    <div class="social">
                  <a href="#"><img src="../static/images/insta.jpg"></a>
                  <a href="#"><img src="../static/images/tuktuk.png"></a>
                  <a href="#"><img src="../static/images/twittwr.png"></a>
                  <a href="#"><img src="../static/images/facebook.png"></a>

                    </div>
                  </div>
            </div>
        </div>

    </section>
    <!-- JAVA -->
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>