<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="signin.css">
</head>
<body>
    <div class=“popup” id=“popup-1”>
        <div class=“content”>
         <!-- <!–Cancel Button–>
             <!–Login Form–>
             <!–Pop-up Button–>
      -->
      <h1>Sign in</h1>

      <div class=“input-field”><input name="email" placeholder=“Email” class=“validate”></div>
   
      <div class=“input-field”><input name="password" placeholder=“Password” class=“validate”></div>
   
           <button class=“second-button”>Sign in</button>
   
       <p>Don’t have an account? <a href=“/signup.html”>Sign Up</a></p>
   
     
         </div>
     
       </div>
     
     
     <script>
         //JavaScript Code
     </script>
</body>
</html>