<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup Form | By Code Info</title>
    <link rel="stylesheet" href="../static/css/style8.css">
</head>
<body>
    <input type="checkbox" id="show">
    <label for="show" class="show-btn">Create An Account</label>

    <div class="container">
        <label for="show" class="close-btn" title="close">×</label>
        <h1>Welcome  !!!</h1>
        <form action="/Signup" method="post">
            <label>First Name</label>
            <input type="text">
            <label>Second Name</label>
            <input type="text">
            <label>Email</label>
            <input type="text">
            <label>Password</label>
            <input type="password">
            <label>Confirm Password</label>
            <input type="password">

            <a href="#">Forgot Password?</a>
            <input type="submit" value="Sign Up" class="btn btn-primary">
            <!-- <div class="link">Not a member? <a href="#">Sigup here</a></div> -->
            
        <closeform></closeform></form>
    </div>
</body>
</html>