<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style6.css">
</head>
<body contenteditable="true">
    <div class="hero-header">
        <div class="wrapper">
            <header>
                <div class="logo">
                    <!-- <h1>KiMagenA.</h1> -->
                    <!-- <div class="logo-text">KiMagenA.</div> -->
                    <nav>
                        <div class="togglebtn">
                            <span></span>
                            <span></span>
                            <span></span>

                        </div>
                        <ul class="navlinks">
                            <li><a href="">Home</a></li>
                            <li><a href="">Portfolio</a></li>
                            <li><a href="">Resume</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Contact</a></li>

                    </ul>


                    </nav>

                </div>
            </header>
            <div class="container">
                <div class="hero-pic">
                    <img src="../static/images/kimmmbelina.jpg" alt="">
                </div>
                <div class="hero-text">
                    <h5>Hello I am a <span class="">Software Developer</span></h5>
                    <h1>Kimberly Magena</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis velit maxime qui quo molestias nesciunt sunt pariatur, facilis, aliquam eligendi asperiores maiores itaque, sit quia vel ut ipsa minima unde.</p>
                    <div class="btn-group">
                        <a href="" class=" btn btn-active">Downlaod CV</a>
                        <a href="" class="btn">Contact</a>
                    </div>
                    <div class="social">
                  <a href="#"><img src="../static/images/insta.jpg"></a>
                  <a href="#"><img src="../static/images/tuktuk.png"></a>
                  <a href="#"><img src="../static/images/twittwr.png"></a>
                  <a href="#"><img src="../static/images/facebook.png"></a>

                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>