<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style5.css">
</head>
<body>

        <div class="container" contenteditable="true">
            <div class="navbar">
                <h1 class="logo">KiMagenA.</h1>
                <nav>
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">SERVICES</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Welcome to</h2>
                    <br>
                    <h1>Ki<span>Mage</span>nA.</h1>
                    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio porro possimus numquam alias, ad nobis assumenda animi at, architecto doloribus dignissimos et sapiente, nam placeat in harum amet eveniet voluptatum.</p>
                    <button type="button">Sign in</button>
                </div>
                <div class="col">
                    <div class="card card1">
                        <h5>SZA</h5>
                    </div>
                    <div class="card card2">
                        <h5>BRENT</h5>
                    </div>
                    <div class="card card3">
                        <h5>FOUSHEE</h5>
                    </div>
                    <div class="card card4">
                        <h5>DOECHII</h5>
                    </div>
                    <!-- <div class="card card5">
                        <h5>MS.LAURRYN HILL</h5>
                    </div>
                    <div class="card card6">
                        <h5>BRENT FAIYAZ</h5>
                    </div>
                    <div class="card card7">
                        <h5>FOUSHEE</h5>
                    </div>
                    <div class="card card8">
                        <h5>RIHANNA</h5>
                    </div>
                    <div class="card card9">
                        <h5>LOVES</h5>
                    </div> -->
        
                </div>
        
            </div>
        
        </div>
                
        
            
        
</body>
</html>