<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <div class="main" contenteditable="true">
        <div class="navbar">
            <h2 class="logo">KiMagenA.</h2>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SERVICE</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">DESIGN</a></li>

            </ul>
        </div>
        <div class="info">
            <h3>Hello, I'm <span>SZA.</span></h3>
            <h1> <span>R&B</span>SINGER & <span>ENTHUSIAST</span></h1>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.enim ea quae,<br> nihil veritatis laborum vitae possimus <br> officia aspernatur cupiditate quaerat.</h3>
            <a href="#">Work With Me</a>
        </div>
        <div class="image">
            <img src="blackchild.png" alt="">
        </div>
    </div>
</body>
</html>